.main-content2{
    overflow: auto;
    overflow-x:hidden;
    height: calc(100vh - 70px);
    margin-top: 70px;
    margin-left: 260px;
    width: calc(100% - 260px);
}

@media (max-width: 768px) {
    .main-content2 {
        margin-left: 0;
        width: 100%;
        margin-top: 60px;
        height: calc(100vh - 60px);
    }
}