.main-content2{
    overflow-y: auto;
    overflow-x: hidden;
    min-height: calc(100vh - 70px);
    margin-top: 70px;
    margin-left: 260px;
    width: calc(100% - 260px);
    padding-bottom: 20px;
}

@media (max-width: 768px) {
    .main-content2 {
        margin-left: 0;
        width: 100%;
        margin-top: 60px;
        min-height: calc(100vh - 60px);
        padding-bottom: 20px;
    }
}